*{
    margin: 0;
    padding: 0;
    font-family: \5FAE\8F6F\96C5\9ED1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cf{
    clear: both;
}

.help_outer{
    width: 1200px;
    margin: 0 auto;
}
.help_content_1{
    color: #3b3b3b;
    margin: 5px 0;
}
.help_content_left{
    width: 210px;
}
.help_content_left_1{
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.help_content_left_1_title{
    background-color: #f3f3f3;
    height: 35px;
    width: 173px;
    padding-left: 35px;
    line-height: 35px;
    border-top: 3px solid #59cf2b;
}
.help_content_left_1_content{
    width: 183px;
    padding-left: 25px;
}
.help_content_left_1_content>a{
    text-decoration: none;
    display: block;
    height: 35px;
    line-height: 35px;
    color: #aaaaaa;
}

.help_content_right{
    width: 980px;
    margin-left: 10px;
}
.help_content_right_1{
    background-color: #f3f3f3;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    margin-top: 10px;
}
.help_content_right_2{
    padding-left: 15px;
    line-height: 25px;
    margin-top: 10px;
    color: #747474;
}